.intro-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .intro-eyebrow {
        order: 1;
    }

    .intro-image {
        order: 2;
        display: block;
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 8px;
        margin: 0 auto 1.5rem auto;
    }

    .intro-text {
        order: 3;
        font-size: 1rem;
        line-height: 1.6;
        color: var(--color-text-darker);
        margin-bottom: 2rem;
    }

    .intro-buttons {
        order: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        clear: both;
        padding-bottom: 3rem;
    }
}

@media (min-width: 900px) {
    .intro-container {
        display: block;

        .intro-image {
            float: left;
            margin: 0 2rem 1rem 0;
        }

        .intro-buttons {
            flex-direction: row;
            justify-content: center;
            gap: 10rem;
        }
    }
}