.recent-articles-section {
    li:nth-child(n+4) {
        display: none;
    }
}

@media (min-width: 768px) {
    .recent-articles-section {
        li:nth-child(n+4) {
            display: block;
        }
    }
}