.why-choose-my-services-section {
    padding-bottom: 50px;

    .text-segment {
        p {
            @media (min-width: 600px) {
                font-size: 1.4rem;
            }
        }

        li {
            @media (min-width: 600px) {
                font-size: 1.2rem;
            }
        }
    }
}