.card-layout-container {
    width: 100%;
    max-width: var(--nav-max-width, 1200px);
    margin: 0 auto;
    position: relative;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 5px auto;

    button {
        background: transparent;
        border: 1px solid var(--color-primary);
        color: var(--color-text-darker);
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer;

        @media (min-width: 768px) {
            &:hover {
                background: var(--color-primary-lighter);
            }
        }
    }
}

.card-layout {
    width: 100%;
    max-width: var(--nav-max-width, 1200px);
    margin: 0 auto;
    list-style: none;
    padding: 0;

    &.layout-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;
    }

    &.layout-carousel {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 15px 24px 0;
        scroll-padding-left: 20px;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        align-items: stretch;
        // -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: var(--color-primary) transparent;

        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--color-primary);
            border-radius: 8px;
        }

        >* {
            flex: 0 0 300px;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }
    }
}