.article-preview-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: var(--border-radius-sm);
    background-color: color-mix(in srgb, var(--color-bg) 50%, transparent);
    border: var(--border-fat);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

    text-decoration: none;
    color: inherit;

    transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1),
        box-shadow 0.3s cubic-bezier(0.23, 1, 0.320, 1),
        background-color 0.2s ease;


    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
        background-color: #f1ede8;
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        background-color: color-mix(in srgb, var(--color-bg) 95%, black);
    }

    img {
        width: 90%;
        aspect-ratio: 16 / 9;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
    }

    .category-tag {
        padding: 0.75rem 1rem .3rem 1rem;
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: var(--color-text-lighter);
    }

    h2,
    h3,
    h4 {
        margin: 0.5rem 1rem 0.25rem 1rem;
        font-size: 1.1rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    time {
        padding: 0rem 1rem;
        font-size: 0.85rem;
        color: var(--color-text-lighter);
    }

    span {
        padding: 1rem 1rem;
        font-size: 1rem;
        margin: 0;
    }
}

.articles-preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-auto-rows: max-content;
}