@font-face {
  font-family: 'IBMPlexSerifMedium';
  src: url('./assets/fonts/ibmplexserif/IBMPlexSerif-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Parisienne';
  src: url('./assets/fonts/parisienne/Parisienne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #168d5b;
  --color-primary-darker: #106d46;
  --color-primary-lighter: #26b076;
  --color-secondary: #bb2a66;
  --color-secondary-darker: #aa1c57;
  --color-secondary-lighter: #cb3976;
  --color-bg: #e7ddcb;
  --color-text: #2a2a2a;

  --font-primary: 'IBMPlexSerifMedium', sans-serif;
  --font-quote: 'Parisienne', serif;
}

html {
  font-family: var(--font-primary);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}